
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(to right, #28282B, #1B1212);
  color: #FBFCFA;
}

img {
  display: block;
  margin: 1rem auto;
  width: 100%;
}

h1, h2, h3 {
  width: 90%;
  margin: auto;
}

h1 {
  margin-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
}

input {
  margin: 1rem 0 .5rem 5%;
}

button {
  padding: .09rem .5rem;
}

#buttons {
  margin: 0 0 1rem 5%;
}